
<app-navbar></app-navbar>

<div class="reset-password-container">
    <h2>Reset Password</h2>
  
    <div *ngIf="step === 1">
      <label for="email">Email Address:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        placeholder="Enter your email"
        required
      />
      <button (click)="sendOtp()">Send OTP</button>
    </div>
  
    <div *ngIf="step === 2">
      <label for="otp">Enter OTP:</label>
      <input
        type="text"
        id="otp"
        [(ngModel)]="otp"
        placeholder="Enter the OTP sent to your email"
        required
      />
      <button (click)="validateOtp()">Verify OTP</button>
    </div>
  
    <div *ngIf="step === 3">
        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          [(ngModel)]="newPassword"
          placeholder="Enter your new password"
          required
        />
      
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          placeholder="Confirm your new password"
          required
        />
      
        <div *ngIf="passwordError" style="color: red; margin-top: 5px;">
          {{ passwordError }}
        </div>
      
        <button (click)="resetPassword()">Reset Password</button>
      </div>
      
  
    <p *ngIf="message" class="message">{{ message }}</p>
  </div>
  