<!-- Swiper -->
<div class="container-fluid our-service-body  ">
  <div class="container">
    <div class="what_we_do p-3 text-theme">
      <h5 class="">WHAT WE DO</h5>
      <h1 class="fw-bold display-4 mb-0 text-theme">OUR SERVICES</h1>
    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <!-- Slide 1 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="assets/SERVICES/AWS Cloud.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">AWS CLOUD</a></h4>
                    <p class="text-start text-light">AWS (Amazon Web Services) is a comprehensive cloud platform offering a wide range of services,
                      including computing power, storage, and databases, to help businesses scale and innovate.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <a href=" "><span class="fw-bold m-1"> <i class="fa-brands fa-aws"> </i> </span> AWS CLOUD </a>
              </div>
            </div>

          </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Azure Cloud.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">AZURE</a></h4>
                    <p class="text-start text-light">Azure is Microsoft’s cloud computing platform that offers a variety of services, including
                      virtual machines, databases, and AI tools, to help businesses build, manage, and deploy
                      applications.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <a href=" "><span class="fw-bold m-1"> <i class="fa-brands fa-microsoft"></i> </span> AZURE </a>
              </div>
            </div>

          </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Business Analyst.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">BUSINESS ANALYST</a></h4>
                    <p class="text-start text-light">A Business Analyst bridges the gap between business needs and technical solutions by analyzing
                      processes, identifying requirements, and recommending data-driven improvements.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-briefcase"></i> </span> BUSINESS ANALYST </a>

                <!-- <a href=" ">BUSINESS ANALYST</a> -->
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Cyber Security.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">CYBER SECURITY</a></h4>
                    <p class="text-start text-light">Cybersecurity involves protecting systems, networks, and data from digital attacks, theft, and
                      damage. It includes practices like encryption, firewalls, and threat detection to ensure the
                      confidentiality, integrity, and availability of information.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">CYBER SECURITY</a> -->
                <a href="#">
                  <span class="fw-bold">
                    <i class="fa-solid fa-shield"></i>
                  </span>
                  CYBER SECURITY
                </a>


              </div>
            </div>
          </div>
        </div>

        <!-- Slide 5 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Data Analyst.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">DATA ANALYST</a></h4>
                    <p class="text-start text-light">A Data Analyst collects, processes, and interprets data to help businesses make informed
                      decisions. They use statistical tools and techniques to identify trends, patterns, and insights
                      that drive business strategies and improvements.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">DATA ANALYST</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-chart-line"></i> </span> DATA ANALYST </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 6 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Data Engineering.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">DATA ENGINEERING</a></h4>
                    <p class="text-start text-light">Data Engineering focuses on designing, building, and maintaining systems for collecting, storing,
                      and processing large datasets. It involves creating data pipelines, ensuring data reliability, and
                      optimizing infrastructure to support data analysis and machine learning.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-database"></i> </span> DATA ENGINEERING </a>

              </div>
            </div>
          </div>
        </div>


        <!-- Slide 7 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Data Science.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">DATA SCIENCE</a></h4>
                    <p class="text-start text-light">Data Science combines statistical analysis, machine learning, and domain expertise to extract
                      insights from structured and unstructured data. It involves building predictive models,
                      identifying patterns, and solving complex problems to guide decision-making and drive innovation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">DATA SCIENCE</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-brain"></i> </span> DATA SCIENCE </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 8 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/DevOps.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">DEVOPS</a></h4>
                    <p class="text-start text-light">DevOps is a set of practices that integrates software development (Dev) and IT operations (Ops)
                      to streamline the software delivery process. It emphasizes collaboration, automation, and
                      continuous integration/continuous deployment (CI/CD) to improve efficiency, speed, and quality of
                      product releases.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">DEVOPS</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-code-branch"></i> </span> DEVOPS </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 9 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Digital Marketing.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">DIGITAL MARKETING</a></h4>
                    <p class="text-start text-light">Digital Marketing involves promoting products or services using online channels such as social
                      media, search engines, email, and websites. It focuses on targeting audiences, driving engagement,
                      and optimizing campaigns to increase brand visibility, customer acquisition, and sales.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">DIGITAL MARKETING</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-bullhorn"></i> </span> DIGITAL MARKETING </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 10 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/E-commerce Development.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">E-COMMERCE DEVELOPMENT</a></h4>
                    <p class="text-start text-light">E-commerce development involves creating online platforms that enable businesses to sell products
                      or services digitally. It includes building user-friendly websites, integrating payment gateways,
                      and optimizing for secure transactions and a seamless shopping experience.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">E-COMMERCE DEVELOPMENT</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-cart-shopping"></i> </span> E-COMMERCE
                  DEVELOPMENT </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 11 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Google Cloud.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">GOOGLE CLOUD</a></h4>
                    <p class="text-start text-light">Google Cloud is a suite of cloud computing services offered by Google that provides
                      infrastructure, platform, and application solutions for businesses. It includes tools for data
                      storage, machine learning, big data analytics.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">GOOGLE CLOUD</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-brands fa-google"></i> </span> GOOGLE CLOUD </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 12 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Java Full Stack Development.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">JAVA FULL STACK DEVELOPMENT</a></h4>
                    <p class="text-start text-light">Java Full Stack Development refers to the end-to-end development of web applications using Java
                      technologies for both the front-end and back-end. This involves utilizing frameworks like Spring
                      and Hibernate for server-side development and tools like JavaServer Faces.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">JAVA FULL STACK DEVELOPMENT</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-code"></i> </span> JAVA FULL STACK DEVELOPMENT
                </a>

              </div>
            </div>
          </div>
        </div>


        <!-- Slide 13 -->
        <!-- <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/AWS Cloud.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">MACHINE LEARNING</a></h4>
                    <p class="text-start text-light">Machine Learning enables systems to learn and improve from experience without being explicitly
                      programmed.
                      It involves algorithms that identify patterns.</p>
                  </div>

                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-robot"></i> </span> MACHINE LEARNING </a>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Slide 14 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="../../assets/SERVICES/Mobile App Development 2.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">MOBILE APP DEVELOPMENT</a></h4>
                    <p class="text-start text-light">Mobile App Development involves creating software applications designed to run on mobile devices
                      like smartphones and tablets. It includes developing native, hybrid, and web-based apps to enhance
                      user experience and meet business needs.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">MOBILE APP DEVELOPMENT</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-mobile-screen-button"></i> </span> MOBILE APP
                  DEVELOPMENT </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 15 -->
        <!-- <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/AWS Cloud.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">ROBOTIC PROCESS AUTOMATION</a></h4>
                    <p class="text-start text-light">Robotic Process Automation (RPA) uses software robots to automate repetitive tasks, reducing
                      human effort and errors. It is widely used in industries for data entry, processing transactions,
                      and handling queries efficiently.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
               
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-robot"></i> </span> ROBOTIC PROCESS AUTOMATION
                </a>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Slide 16 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/SAP.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">SAP</a></h4>
                    <p class="text-start text-light">SAP (Systems Applications and Products) offers enterprise software solutions for managing
                      business operations and customer relations. Its tools include ERP, CRM, and SCM systems, enabling
                      organizations to streamline processes and enhance efficiency.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">SAP</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-cogs"></i> </span> SAP </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 17 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Responsive UIUX.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">UI/UX DESIGN</a></h4>
                    <p class="text-start text-light">UI/UX Design focuses on enhancing user experience through intuitive and visually appealing
                      interfaces. It involves designing user-friendly layouts, improving accessibility, and creating
                      engaging interactions to ensure customer satisfaction.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">UI/UX DESIGN</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-pencil-ruler"></i> </span> UI/UX DESIGN </a>

              </div>
            </div>
          </div>
        </div>



        <!-- Slide 18 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Website Development.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">WEB DEVELOPMENT</a></h4>
                    <p class="text-start text-light">Web Development involves creating and maintaining websites by combining design, coding, and
                      content management. It includes building responsive and interactive websites using technologies
                      like HTML, CSS, JavaScript, and frameworks like React or Angular.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">WEB DEVELOPMENT</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-globe"></i> </span> WEBSITE DEVELOPMENT </a>

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 19 -->
        <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/Power BI.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">BLOCKCHAIN DEVELOPMENT</a></h4>
                    <p class="text-start text-light">Blockchain Development focuses on creating decentralized applications and platforms that utilize
                      blockchain technology for secure, transparent, and immutable data transactions. It is widely used
                      in industries like finance, healthcare, and supply chain.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">
                <!-- <a href=" ">BLOCKCHAIN DEVELOPMENT</a> -->
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-cubes"></i> </span> BLOCKCHAIN DEVELOPMENT </a>


              </div>
            </div>
          </div>
        </div>

        <!-- Slide 20 -->
        <!-- <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/AWS Cloud.jpg" alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">INTERNET OF THINGS</a></h4>
                    <p class="text-start text-light">Internet of Things (IoT) connects devices to exchange data over the internet, enabling automation
                      and smart solutions. Applications include smart homes, industrial IoT, healthcare, and connected
                      vehicles, enhancing efficiency and user convenience.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
           
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-network-wired"></i> </span> INTERNET OF THINGS
                  (IoT) </a>


              </div>
            </div>
          </div>
        </div> -->

        <!-- Slide 21 -->
        <!-- <div class="swiper-slide">
          <div class="item">
            <div class="choose-us-style-two mt-0">
              <div class="thumb">
                <img src="/assets/SERVICES/AWS Cloud.jpg " alt="Thumb" />
                <div class="overlay text-center">
                  <div class="content">
                    <h4><a href=" ">ARTIFICIAL INTELLIGENCE</a></h4>
                    <p class="text-start text-light">Artificial Intelligence (AI) enables machines to mimic human intelligence, performing tasks like
                      decision-making, problem-solving, and learning. It is applied in areas such as natural language
                      processing, computer vision, robotics, and predictive analytics.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title shadow-md ps-2 pe-3 py-1">
              <div class="top d-flex align-items-center">

            
                <a href=" "><span class="fw-bold"> <i class="fa-solid fa-robot"></i> </span> ARTIFICIAL INTELLIGENCE
                </a>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    
    </div>
  </div>
</div>


<!--
<a href=" "><span class="fw-bold"> <i class="fa-brands fa-aws"></i> </span> AWS CLOUD </a>
<a href=" "><span class="fw-bold"> <i class="fa-brands fa-microsoft"></i> </span> AZURE </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-briefcase"></i> </span> BUSINESS ANALYST </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-shield-halved"></i> </span> CYBER SECURITY </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-chart-line"></i> </span> DATA ANALYST </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-database"></i> </span> DATA ENGINEERING </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-brain"></i> </span> DATA SCIENCE </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-code-branch"></i> </span> DEVOPS </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-bullhorn"></i> </span> DIGITAL MARKETING </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-cart-shopping"></i> </span> E-COMMERCE DEVELOPMENT </a>
<a href=" "><span class="fw-bold"> <i class="fa-brands fa-google"></i> </span> GOOGLE CLOUD </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-code"></i> </span> JAVA FULL STACK DEVELOPMENT </a>
<a href=" "><span class="fw-bold"> <i class="fa-brands fa-linux"></i> </span> LINUX </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-mobile-screen-button"></i> </span> MOBILE APP DEVELOPMENT </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-chart-pie"></i> </span> POWER BI </a>
<a href=" "><span class="fw-bold"> <i class="fa-brands fa-python"></i> </span> PYTHON </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-pencil-ruler"></i> </span> UI/UX </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-cogs"></i> </span> SAP </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-laptop-code"></i> </span> SOFTWARE DEVELOPER </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-vial"></i> </span> SOFTWARE TESTING </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-globe"></i> </span> WEBSITE DEVELOPMENT </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-cubes"></i> </span> BLOCKCHAIN DEVELOPMENT </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-network-wired"></i> </span> INTERNET OF THINGS (IoT) </a>
<a href=" "><span class="fw-bold"> <i class="fa-solid fa-robot"></i> </span> ARTIFICIAL INTELLIGENCE </a> -->
